<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <bean id="u1" class="com.bean.schema.User">
        <property name="account" value="wukong" />
        <property name="password" value="wukong123"/>
    </bean>

    <bean id="userDao" class="test.UserDaoImpl"/>

    <bean id="userService" class="test.UserServiceImpl" >
        <property name="ud" ref="userDao"/>
    </bean>
    <bean id="userController" class="test.UserControl" >
        <property name="us" ref="userService"/>
    </bean>

</beans>