<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.login.dao.LoginMapper">
    
        <select id="S_login" parameterType="com.bean.schema.User" resultType="com.bean.schema.User">
            SELECT * FROM user <where> account = #{account} AND password = #{password}</where>
        </select>
        
        <insert id="I_loginLog" parameterType="com.bean.schema.LoginLog" useGeneratedKeys="true" keyProperty="login_id">
            INSERT INTO loginlog(login_id,user_id,login_date,login_time,login_ip)VALUES(#{login_id},#{account},#{login_date},#{login_time},#{login_ip})
        </insert>
        
        <update id="U_user_loginID" parameterType="map" >
            UPDATE `user` SET spareString2=spareString1,spareString1=#{LoginID} WHERE userId=#{Account}
        </update>
    
        <update id="U_loginLog_DateTime" parameterType="map" >
            UPDATE loginlog SET out_date=#{curryDate},out_time=#{curryTime} WHERE login_id=#{loginID}
        </update>
    
    
    </mapper>